html {
	font-family: verdana;
	background-color: #006363;
}

li {
	background-color: #339933;
	list-style: none;
}

li:nth-child(2n) {
    background-color: #A200FF;
}

li:nth-child(3n) {
    background-color: #8CBF26;
}

li:nth-child(4n) {
    background-color: #E671B8;
}

li:nth-child(5n) {
    background-color: #F09609;
}

li h3{
	color: #fff;
	font-size: 130%;
	font-weight: bold;
	padding: 1em;
}

li .preview {
	display: none;
	overflow: hidden;
	background: #111;
	color: #fff;
}

li .text {
	text-align: justify;
	margin: 1em;
	padding: 1em;
	line-height: 1.5em;
}

li img {
	display: none;
}